@charset "utf-8";

@font-face {
    font-family:'Kanit';
    src: url('/DESAFIO12/fonts/BowlbyOneSC-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Averial';
    src: url('fonts/AveriaLibre-Light.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;    
    font-family: 'Sriracha', cursive, 'Averial', Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px 40px;
    
}

h1{
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-size: 7vw;
    font-variant: small-caps;
}

h4{
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

h4 a{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

h4 a:hover{
    color: white;
    text-decoration: underline;
}

div#bloco1{
    background-color: white;
    font-style: italic;
    font-size: 3.5vw;
    padding: 110px 40px;
    line-height: 2em;
}

div#bloco2{
    background-color: darkgreen;
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px black;
    
    font-style: italic;
    font-size: 3.5vw;
    text-shadow: 1px 1px 1px black;
    padding: 110px 40px;
    line-height: 8vw;
}

section{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: white;
    padding: 20px 5px;
}

div#bloco3{
    background-color: white;
    font-style: italic;
    font-size: 3.5vw;
    padding: 110px 40px;
    line-height: 8vw;
}

div#bloco4{
    background-color: rgb(129, 129, 129);
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px black;

    font-style: italic;
    font-size: 3.5vw;
    text-shadow: 1px 1px 1px black;
    padding: 110px 40px;
    line-height: 8vw;
}

div#bloco5{
    background-color: white;
    padding: 110px 40px;
    font-size: 3.5vw;
    font-style: italic;
    line-height: 8vw;
}

footer{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 5px;
    color: white;
}