@charset "UTF-8";

body{
    background-color: rgb(164, 186, 255);
    font: normal 16px Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    padding: 20px;
    background-color: white;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.411);
}

div#boxnum{
    text-align: left;
}

input{
    width: 70px;
}
input#inicio{
    margin-left: 12px;
}
input#fim{
    margin-left: 25px;
}
div{
    padding: 10px;
    text-align: center;
}

footer{
    padding: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}